* {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
}

#logo {
  width: 25vw;
  height: 5vh;
  padding-top: .5em;
}

.sign {
 display: flex;
 padding-top: .2em;
}
/*
#signIn {
  font-size: .75em;
  padding-top: 3em;
  padding-right: .25em;


} */
#add {
  background-color: grey;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;
  /* padding-bottom: .2em; */
  color: white;

}

.menu {
  width: 700px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.menu-item {
  margin: 5px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 2px;
  color: black;
}
