<div class="header">
  <img id="hamburger" src="./assets/img/hamburger-icon.png" alt="hamburger-icon">
  <!-- <div class="dropdown" dropdown [dropdownToggle]="false" (onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
    <button class="btn btn-primary" dropdown-open>Menu</button>
    <ul class="dropdown-menu">
        <li><a>My Save Searches</a></li>
        <li><a>My Favorites</a></li>
        <li><a>Notification Settings</a></li>
        <li><a>Apartment for Rent</a></li>
        <li><a>House for Rent</a></li>
        <li><a>Condos for Rent</a></li>
        <li><a>Mobile App</a></li>

    </ul> -->
  <!-- </div> -->






  <img id="logo" src="./../assets/img/logo.png" alt="logo">
  <p>  Sign In / Sign Out </p>
</div>
