<div class="header">
  <div class="btn-group mr-3">
     <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-primary" ngbDropdownToggle>Drop me</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem>My Save Searches</button>
        <button ngbDropdownItem>My Favorites</button>
        <button ngbDropdownItem>Notification Settings</button>
        <button ngbDropdownItem>Apertment for Rent</button>
        <button ngbDropdownItem>Homes for Rent</button>
        <button ngbDropdownItem>Condos for Rent</button>
        <button ngbDropdownItem>Townhomes for Rent</button>
        <button ngbDropdownItem>Mobile Apps</button>
    </div>
  </div>
</div>





  <img id="logo" src="./../assets/img/logo.png" alt="logo">
  <p>  Sign In / Sign Out </p>
</div>
