<div class="header">
  <app-dropdown></app-dropdown>
  <img id="hamburger" src="./assets/img/hamburger-icon.png" alt="hamburger-icon">
  <!-- <div class="menu">
    <a href="#">My Save Searches</a>
    <a href="#">My Favorites</a>
    <a href="#">Notification Settings</a>
    <a href="#">Apartment for Rent</a>
    <a href="#">House for Rent</a>
    <a href="#">Condos for Rent</a>
    <a href="#">Mobile App</a>
  </div> -->
  <!-- <div class="dropdown" dropdown [dropdownToggle]="false" (onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
    <button class="btn btn-primary" dropdown-open>Menu</button>
    <ul class="dropdown-menu">
        <li><a>My Save Searches</a></li>
        <li><a>My Favorites</a></li>
        <li><a>Notification Settings</a></li>
        <li><a>Apartment for Rent</a></li>
        <li><a>House for Rent</a></li>
        <li><a>Condos for Rent</a></li>
        <li><a>Mobile App</a></li>

    </ul> -->
  <!-- </div> -->






  <img id="logo" src="./../assets/img/logo.png" alt="logo">
  <div class="sign">
    <p id=signIn>  Sign In / Sign Out  </p>
    <p id=add> Add a Listing</p>
  </div>
</div>
