<div class="footer">
  <div class="logo">
    <p>2019 CoStart Group, Inc.</p>
    <p>Equal Housing Opportunity</p>
  </div>
  <div class="advertisers">
    <h6>advertisers</h6>
    <ul>
      <li>Advertise</li>
      <li>Add a Listing</li>
      <li>Digital Feeds Program</li>
      <li>Customer Portal</li>
      <li>Community Voice</li>
    </ul>
  </div>
  <div class="marketplace">
    <h6>The Marketplace</h6>
    <ul>
      <li>Apartamentos.com</li>
      <li>ApartmentFinder.com</li>
      <li>ApartmentHomeLiving.com</li>
      <li>WestsideRentals.com</li>
      <li>loopNet.com</li>
      <li>Cityfeet.com</li>
      <li>Showcase.com</li>
      <li>Realla.co</li>
      <li>BizBuySell.com</li>
      <li>LandsofAmerica.com</li>
    </ul>
  </div>
  <div class="neigborhoods">
    <h6>neigborhoods</h6>
    <ul>
      <li>Brickell</li>
      <li>Bronx</li>
      <li>Buckhead</li>
      <li>Downtown LA</li>
      <li>Downtown Seattle</li>
      <li>East Village</li>
      <li>Hyde Park</li>
      <li>show more</li>
    </ul>
  </div>
  <div class="markets">
    <h6>Popular Markets</h6>
    <ul>
      <li>Bellevue</li>
      <li>Birmingham</li>
      <li>Columbia</li>
      <li>Crystal Lake</li>
      <li>De Pere</li>
      <li>Green Bay</li>
      <li>Irvine</li>
      <li>Jacksonville</li>
      <li>Show more</li>
    </ul>
  </div>
  <div class="about">
    <h6>About Us</h6>
    <ul>
      <li>About Us</li>
      <li>Careers</li>
      <li>Contact Us</li>
      <li>Terms of Service</li>
      <li>Privacy Statement</li>
      <li>Equal Housing</li>
      <li>Avoid Scams<li>
      <li>Accessibility</li>
      <li>blog</li>
      <li>Sitemap</li>
    </ul>

  </div>
</div>
