<h1>What are you looking for?</h1>
<p>Behind each apartment for rent in Portland, every innovative tool and local neighborhood we scour, there's a team driven to help find your nect rental home.</p>
<div class="grid">

  <div class="pet"></div>
    <img src="./../../assets/img/pet.jpeg" alt="pet">

  <div class="dishwasher"></div>
    <img src="./../../assets/img/dishwasher.jpg" alt="">

  <div class="condo"></div>
    <img src="./../../assets/img/condo.jpg" alt="condo">

  <div class="people"></div>
    <img src="./../../assets/img/people.jpeg" alt="people">

  <div class="elevator"></div>
    <img src="./../../assets/img/elevator.jpg" alt="elevator">
</div>
