<div class="cards-body">

<h1>What are you looking for?</h1>
<p>Behind each apartment for rent in Portland, every innovative tool and local neighborhood we scour, there's a team driven to help find your nect rental home.</p>
<a id="link" routerLink="apartment">Hot New Apartments Listings</a>
<br>
<br>
<div class="grid">
  <div class="box">
    <img class="photo" src="./../../assets/img/pets.jpg" alt="pets">
  </div>

  <div class="box">
    <img class="photo" src="./../../assets/img/dryer.jpg" alt="dryer">
  </div>

  <div class="box">
    <img class="photo" src="./../../assets/img/condo.jpg" alt="condo">
  </div>

  <div class="box">
    <img class="photo" src="./../../assets/img/people.jpg" alt="people">
  </div>

  <div id="list" class="box">
    <div>
      <img class="key" src="src/assets/img/key.png" alt="key">
      <h2>List Your Rental</h2>
      <p>Put your property in front of millions of renters who use Apartment.com. Post your rental in minutes.</p>
      <p id="free">Free Listing</p>
    </div>
  </div>

  <div class="box">
    <img class="photo" src="./../../assets/img/north-hollow.jpg" alt="north-hollow">
  </div>

  <div id="renter" class="box">
    <div class="">
      <h2>Renter's Resource</h2>
      <p>Stay on top of the latest advice from Apartments.com. from how to style your aprtment to moving tips. </p>
      <p id="learn">Learn More </p>
    </div>
  </div>

  <div class="box">
    <img class="photo" src="./../../assets/img/apartments_store.jpg" alt="apartments">
  </div>

  <!-- <div class="box">
    <img src="../img/jeff-dog.png" alt="jeff and grid-row-gap">
  </div> -->
</div>
<br>
  <h1>#1 Apartment Listing Website</h1>
  <p>We simply the process of finding a new apartment by offering renters the most comprehensive database including millions of detailed and accurate apartment listings across the United States.  OUr innovative technology includes the POLYGON search tool that allows users to define their own search areas on a map and "Plan Commute" feature that helps users seacrch for rentals in proximity to their office.</p>
  <br>
  <p>Apartments.com is supported by industry's largest proffesional research team, which has visited and photgraphed over 400,000 properties nationwide.  Our team makes over 1 million calls each month to aprtment owners and proprty managers, collecting and verifying current availabilities, rental rates, pet policies, fees, leasing inventives, concessions, and more.</p>
</div>
