h1 {
  font-size: 2.5rem;
}

p {
  margin-left: 2vw;
  margin-right: 5vw;
}

.grid {
  display: grid;
  grid-template-columns: 2 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: black;

  @media screen and (min-width: 500px){
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 800px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pet {

}
/* .pet {


/* .dishwasher {
  background-image: url("./../../assets/img/dishwasher.jpg");
}
.condo {
  background-image: url("./../../assets/img/condo.jpg");
}
.people {
  background-image: url("./../../assets/img/people.jpeg");
}
.elevator {
  background-image: url("./../../assets/img/elevator.jpg");
} */
