* {
  border: 1px solid red;
}
.bridge {
  background-image:url("./../../assets/img/bridge.jpg");
  width: 100%;
  height: 30vw;
  -webkit-filter: contrast(1)saturate(1.5);
}

#rent {
  text-transform: uppercase;
  color: white;
  font-size: 6vw;
  font-weight: lighter;
  position: absolute;
  top: 1vh;
  left: 20vw;
  /* margin-top: 5vh; */
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: 50%;
  margin-left: 4vw;
}



.search {
  list-style-type: none;
  display: flex;
  flex-direction:row;
  position: absolute;
  top: 70%;
  margin-left: 7.5vw;


}



#city {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 10vw;
  font-size: 1em;
  margin-right: .5em;

}
