<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 <router-outlet></router-outlet>

 <!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="Apartments.com"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="apartment">Hot New Apartments Listings</a></li>
    </ul>
  </div>
</nav> -->

 <app-header></app-header>
 <app-main-photo></app-main-photo>
 <app-cards></app-cards>
 <app-footer></app-footer>

</div>
