<form id="search">
  <div class="form-group">
    <label for="city"></label>
    <input type="text" class="form-control" id="city" placeholder="Portland, OR">
  </div>

    <div class="form-group">
     <label for="range"></label>
     <select class="form-control" id="range">
       <option>Rent Range</option>
       <option>$500</option>
       <option>$700</option>
       <option>$700</option>
       <option>$900</option>
       <option>$1,100</option>
       <option>$1,300</option>
       <option>$1,500</option>
     </select>
   </div>


  <div class="form-group">
   <label for="beds"></label>
   <select class="form-control" id="bed">
     <option>Beds & Baths</option>
     <option class="dot">Studio</option>
     <option class="dot">1 Bed</option>
     <option class="dot">2 Beds</option>
     <option class="dot">3 Beds</option>
     <option class="dot">4+ Beds</option>
     <option>Baths</option>
     <option class="dot">All Baths</option>
     <option class="dot">1+ Baths</option>
     <option class="dot">2+ Baths</option>
     <option class="dot">3+ Baths</option>
   </select>
 </div>

</form>
