<div class="btn-group mr-3">
  <div class="dropdown">
  <button class="hamburger"><img class="lines" src="./assets/img/hamburger-icon.png" alt=""> </button>
  <div class="dropdown-content">
    <a href="#">My Save Searches</a>
    <a href="#">My Favorites</a>
    <a href="#">Apartment for Rent<</a>
    <a href="#">House for Rent</a>
    <a href="#">Condos for Rent</a>
    <a href="#">Mobile App</a>
  </div>
</div>
   <!-- <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="hamburger" ngbDropdownToggle><img class="lines" src="./assets/img/hamburger-icon.png" alt="">   </button>
    <div class="dropdown-content" ngbDropdownMenu>
      <button ngbDropdownItem>My Save Searches</button>
      <button ngbDropdownItem>My Favorites</button>
      <button ngbDropdownItem>Notification Settings</button>
      <button ngbDropdownItem>Apartment for Rent</button>
      <button ngbDropdownItem>House for Rent</button>
      <button ngbDropdownItem>Condos for Rent</button>
      <button ngbDropdownItem>Mobile App</button> -->
    <!-- </div>
  </div> -->
</div>
